/* line 4, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 41, ../sass/library/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/library/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/library/grid.scss */
body:after {
  clear: both;
}

/* line 1, ../sass/library/mixins.scss */
.selected-item, .twangler-tweet {
  zoom: 1;
}
/* line 3, ../sass/library/mixins.scss */
.selected-item:before, .twangler-tweet:before, .selected-item:after, .twangler-tweet:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 9, ../sass/library/mixins.scss */
.selected-item:after, .twangler-tweet:after {
  clear: both;
}

/* line 29, ../sass/screen.sass */
body {
  background: #2f2f2f;
  color: #c6c6c6;
}
/* line 32, ../sass/screen.sass */
body a {
  color: #0000cc;
}
/* line 18, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #cccccc;
}
/* line 21, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #cccc00;
}
/* line 24, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #00cccc;
}
/* line 27, ../../../../../../../../Users/mnibagaw/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #cc00cc;
}

/* line 36, ../sass/screen.sass */
.cloud-item, .selected-form, .selected-item, .twangler-tweet {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 0;
}

/* line 45, ../sass/screen.sass */
.twangler-header {
  margin-top: 5px;
}

/* line 48, ../sass/screen.sass */
.header-label-front {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
}

/* line 52, ../sass/screen.sass */
.header-input {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}

/* line 55, ../sass/screen.sass */
.header-sumbit {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04167%;
}

/* line 58, ../sass/screen.sass */
.header-label-back {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  margin-left: 17.70833%;
}

/* line 62, ../sass/screen.sass */
.twangler-cloud {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* line 65, ../sass/screen.sass */
.cloud-users,
.cloud-hashtags,
.cloud-phrases {
  display: block;
  width: 102.08333%;
  margin: 0 -1.04167%;
  *zoom: 1;
}
/* line 27, ../sass/library/grid.scss */
.cloud-users:before, .cloud-users:after,
.cloud-hashtags:before,
.cloud-hashtags:after,
.cloud-phrases:before,
.cloud-phrases:after {
  content: "";
  display: table;
}
/* line 31, ../sass/library/grid.scss */
.cloud-users:after,
.cloud-hashtags:after,
.cloud-phrases:after {
  clear: both;
}

/* line 70, ../sass/screen.sass */
.cloud-item {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  margin-top: 5px;
  color: white;
  text-align: center;
  background-color: black;
}

/* line 78, ../sass/screen.sass */
.twangler-selected {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 81, ../sass/screen.sass */
.selected-form {
  display: block;
  width: 106.25%;
  margin: 0 -3.125%;
  *zoom: 1;
  margin-top: 5px;
  text-align: center;
}
/* line 27, ../sass/library/grid.scss */
.selected-form:before, .selected-form:after {
  content: "";
  display: table;
}
/* line 31, ../sass/library/grid.scss */
.selected-form:after {
  clear: both;
}

/* line 87, ../sass/screen.sass */
.selected-input {
  display: inline;
  float: left;
  width: 68.75%;
  margin: 0 3.125%;
  margin-right: 0;
}

/* line 91, ../sass/screen.sass */
.selected-sumbit {
  display: inline;
  float: left;
  width: 18.75%;
  margin: 0 3.125%;
}

/* line 94, ../sass/screen.sass */
.selected-item {
  margin-top: 5px;
  text-align: center;
}

/* line 100, ../sass/screen.sass */
.twangler-stream {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 103, ../sass/screen.sass */
.twangler-tweet {
  margin-top: 5px;
}

/* line 108, ../sass/screen.sass */
.tweet-image {
  margin: 6px;
  width: 48px;
  height: 48px;
  float: left;
  background: black;
  border-top: 1px solid #333333;
  border-left: 1px solid #333333;
  border-bottom: 1px solid #666666;
  border-right: 1px solid #666666;
}

/* line 119, ../sass/screen.sass */
.tweet-user,
.tweet-date {
  padding: 6px;
}

/* line 123, ../sass/screen.sass */
.tweet-text {
  padding: 6px;
  line-height: 16px;
  margin-left: 60px;
  font-size: 100%;
}

@media screen and (max-device-width: 480px) {
  /* line 131, ../sass/screen.sass */
  .cloud-item,
  .selected-item {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
  }

  /* line 134, ../sass/screen.sass */
  .twangler-selected,
  .twangler-stream {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}
